body {
  background: rgb(139, 251, 195);
  background: linear-gradient(
    90deg,
    rgba(139, 251, 195, 0.636467086834734) 8%,
    rgba(139, 251, 208, 0.6672794117647058) 17%,
    rgba(139, 245, 251, 0.6616771708683473) 23%,
    rgba(102, 243, 201, 0.6924894957983193) 38%,
    rgba(85, 239, 214, 0.6280637254901961) 63%,
    rgba(13, 207, 238, 0.6252626050420168) 94%
  );
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Inter", sans-serif;
  margin: 0px;
}
.left-side-img{
  height:50px;
  width:50px;
  object-fit: cover;
  position:absolute;
  z-index:101;
  top:1135px;
  left:10px
}
.right-side-img{
  height:50px;
  width:50px;
  object-fit: cover;
  position:absolute;
  z-index:101;
  top:1135px;
  right:10px
}
.home-container{
  height:1150px;
  position: relative;
  overflow: hidden;
}
.home-c-shade{
  width:100%;
  height:100%;
  position: absolute;
  background-color:#e0f8f2;
  z-index: 12;
}
.background-fit-img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit: cover;
  top:0px;
  z-index:1;
  opacity: 0.4;
}
.home-container-content-1 {
  position: absolute;
  width: 98%;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 15px 0px;
  height: 480px;
  background: transparent;
  box-sizing: border-box;
  z-index:2;
  left:50%;
  transform: translate(-50%);
}
.home-container-1-left {
  flex: 1.5;
  border-radius: 20px;
  box-sizing: border-box;
  padding:10px 0px;
  position: relative;
}
.home-container-1-left-shade {
  border-radius: 20px;
  height: 100%;
  top: 0px;
  position: absolute;
  background-color: #e0f8f2e6;
  width: 100%;
}
.home-container-1-left-bg {
  border-radius: 20px;
  height: 100%;
  top: 0px;
  position: absolute;
  opacity: 0.4;
  width: 100%;
}
.home-container-1-left-inner {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.home-container-1-right {
  flex: 3;
}
.user-profile-pic-c {
  display: flex;
  justify-content: center;
}
.user-profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}
.user-detail-box {
  /* background-color: #e0f8f2c9; */
  border-top: 3px solid rgb(139, 251, 195);
  width: 90%;
  margin: auto;
}

.user-detail-box p {
  font-weight: bold;
  text-align: center;
  font-size:17px;
}
.user-detail-box p span {
  font-weight: normal;
}
.profile-link{
    text-decoration: none;
    width:40%;
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgb(139, 251, 195);
    padding:14px 12px;
    border-radius: 12px;
    color:rgb(34, 34, 34);
    font-weight: bold;
    transition:0.2s;
}
.profile-link:hover{
    transform: scale(1.1);
    background-color: rgb(184, 250, 220);
    border: 1px solid black;
}
.home-container-1-right {
  background-color: #525c59da;
  border-radius: 20px;
  box-sizing: border-box;
}

.home-container-1-right-inner-desc {
  width: 95%;
  margin:auto;
  padding-top:50px;
  text-align: justify;
  color:white;
}

.home-container-1-right-inner-img-2 {
  height: 100px;
  width: 80%;
  object-fit: cover;
  margin: 30px auto;
  margin-bottom:0px;
  margin-left:10%;
}

.home-container-content-2 {
  position: absolute;
  z-index: 8;
  width: 96%;
  margin: auto;
  background-color: #e0f8f2;
  border-radius: 20px;
  margin-bottom:10px;
  padding:10px;
  top:500px;
  left:50%;
  transform: translate(-50%);
}
.hcc-header {
    margin-top:0px;
  padding-top: 10px;
  text-align: center;
  font-size:35px;
  color:rgb(82, 82, 82);
}
.hcc-content{
    display:flex;
    width:100%;
    gap:20px;
    justify-content: space-around;
}
.card-container{
    flex:1;
    padding:20px;
    position: relative;
    margin: auto;
    width:100%;
}
.card-header{
    width:100%;
    height:200px;
    display: flex;
    justify-content:center;
}
.cc-box-pic{
    height:200px;
    width:200px;
    border-radius:50%;
    object-fit: cover;
}
.card-title{
    text-align:center;
}
.card-desc{
    padding:10px;
    text-align: justify;
    background-color:rgb(247, 238, 219);
    border-radius: 12px;
    position:absolute;
    top:-10px;
    margin:0px auto;
    width:min(250px,20vw);
    font-size:max(1.3vw,12px)
}
.read-more-btn{
    display: block;
    margin:auto;
    width:70%;
    max-width: 150px;
    outline:none;
    padding:12px;
    border-radius:12px;
    border:1px solid lightgrey;
    background-color: rgb(250, 232, 192);
    font-weight:bold;
    transition:0.2s
}
.read-more-btn:hover{
    background-color: rgb(251, 242, 224);
    transform: scale(1.05);   
    border: 1px solid black;
}
.d-none{
    display:none;
    transition: 1s;
}
.animate{
    animation:animation1 1s ease 1;
    animation-fill-mode: forwards;
}
.animate2{
    animation:animation2 1s ease  1;
    animation-fill-mode: forwards;
}
@keyframes animation1 {
    from{ transform: rotateY(0deg); }
    to{ transform: rotateY(-180deg); }
  }
  @keyframes animation2 {
    from{ transform: rotateY(-180deg); }
    to{ transform: rotateY(0deg); }
  }
  .home-container-content-3{
    z-index:5;
    top:1000px;
    position:absolute;
    width:95%;
    border-radius:15px;
    background-color: #e0f8f2;
    margin:auto;
    padding:15px 20px;
    font-size:22px;
    text-align: center;
    left:50%;
  transform: translate(-50%);
  }
  .hcc-3-i-c{
    color:rgb(82, 82, 82);
    font-size:24px;
    text-align: center;
    margin-bottom:15px;
    margin-top: 10px;;
  }
.lets-start{
  text-align: center;
  display: block;
    width:200px;
    padding:8px 20px;
    border-radius:20px;
    border:none;
    outline:none;
    background-color:rgb(250, 232, 192);
    transition:0.2s;
    margin:auto;
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:16px;
}

.lets-start:hover{
    transform: scale(1.05);
    background-color: rgb(251, 242, 224);
    border:1px solid black;
  }
  .quote{
    color:rgb(110, 236, 177);
  }
  @keyframes moveRight{
    from{
      opacity:1;
      transform:translateX(0%);
    }
    to{
      opacity: 0;
      transform: translateX(100%);
    }
  }
  @keyframes moveRight2{
    from{
      opacity:0;
      transform:scale(0.2)
    }
    to{
      opacity: 1;
      transform:scale(1)
    }
  }

  @media screen and (max-width: 1050px) {
    .home-container{
      height:1470px;
    }
    .left-side-img{
      top:1435px;
    }
    .right-side-img{
      top:1435px;
    }
    .home-container-content-3{
      top:1335px;
    }
    .hcc-content{
      flex-wrap: wrap;
    }
    .card-desc{
      width:300px;
    }
  }